<section class="col-md-12">
    <form name="projectForm" class="jumbotron col-md-12">
        <fieldset>
            <h3>Create New Project</h3>
        </fieldset>
        <div class="form-group">
            <label for="Name">Name:</label>
            <input type="text" class="form-control" name="Name" id="Name" placeholder="Project name" 
                   ng-change="createProjectKey()" ng-model="project.Name" required="required">
        </div>
        <div class="form-group">
            <label for="Leader">Leader:</label>
            <select class="form-control" name="Leader" id="Leader" 
                    ng-options="user.Username for user in users track by user.Id" ng-model="project.Lead" required="required">
            </select>
        </div>
        <div class="form-group">
            <label for="ProjectKey">Project Key:</label>
            <input type="text" class="form-control" name="ProjectKey" id="ProjectKey" placeholder="Project Key" ng-model="project.ProjectKey" disabled>
        </div>
        <div class="form-group">
            <label for="Priorities">Priorities (comma separated):</label>
            <input type="text" class="form-control" name="Priorities" id="Priorities" placeholder="Available Priorities For The Issues" ng-model="project.priorities" value="Low, Medium, Urgent">
        </div>
        <div class="form-group">
            <label for="Labels">Labels (comma separated):</label>
            <input type="text" class="form-control" id="Labels" name="Labels" placeholder="Labels" ng-model="project.Labels" value="Soft">
        </div>
        <div class="form-group">
            <label for="Description">Description:</label>
            <textarea class="form-control" name="Description" id="Description" placeholder="Description" ng-model="project.Description"></textarea>
        </div>
        <button type="submit" class="btn btn-success" ng-click="createProject()">Add Project</button>
    </form>
</section>