<section class="jumbotron col-md-12">
    <section id="project-data">
        <header>
            <h3>View Project</h3>
        </header>
        <div class="form-group">
            <label>Name:</label>
            <p class="form-control" id="Name">{{project.name}}</p>
        </div>
        <div class="form-group">
            <label>Leader:</label>
            <p class="form-control" id="Leader">{{project.leader}}</p>
        </div>
        <div class="form-group">
            <label>Project Key:</label>
            <p class="form-control" id="ProjectKey">{{project.projectKey}}</p>
        </div>
        <div class="form-group">
            <label>Priorities (comma separated):</label>
            <p class="form-control" id="Priorities">{{project.priorities}}</p>
        </div>
        <div class="form-group">
            <label>Labels (comma separated):</label>
            <p class="form-control" id="Labels">{{project.labels}}</p>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <p class="form-control" id="Description">{{project.description}}</p>
        </div>
    </section>
    <section class="jumbotron">
        <header>
            <h3>Project' issues</h3>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>Issue</td>
                    <td>Project</td>
                    <td>Due Date</td>
                </tr>
            </thead>
            <tbody ng-repeat="issue in project.issues">
                <tr>
                    <td>{{issue.title}}</td>
                    <td>{{issue.issueKey}}</td>
                    <td>{{issue.date | date: 'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</section>