<section class="col-md-12">
    <section id="project-data">
        <header>
            <h3>View Project</h3>
        </header>
        <div class="form-group">
            <label>Name:</label>
            <div class="form-control" id="Name">{{project.Name}}</div>
        </div>
        <div class="form-group">
            <label>Leader:</label>
            <div class="form-control" id="Leader">{{project.Lead.Username}}</div>
        </div>
        <div class="form-group">
            <label>Project Key:</label>
            <div class="form-control" id="ProjectKey">{{project.ProjectKey}}</div>
        </div>
        <div class="form-group">
            <label>Priorities (comma separated):</label>
            <div class="form-control" id="Priorities">{{project.Priorities}}</div>
        </div>
        <div class="form-group">
            <label>Labels (comma separated):</label>
            <div class="form-control" id="Labels">{{project.Labels}}</div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <div class="form-control" id="Description">{{project.Description}}</div>
        </div>
        <a class="btn btn-success" href="#/projects/{{project.Id}}/edit">Edit</a>
    </section>
    <div>
        <header>
            <h3>Project Issues</h3>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Issue Title</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issue in issues">
                    <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.DueDate | date: 'hh:mm dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>