<section>
    <header>
        <h3>{{title}}</h3>
    </header>
    <section class="col-md-8">
        <div class="form-group">
            <label>Title:</label>
            <div class="white break-words">{{issue.Title}}</div>
        </div>
        <div class="form-group">
            <label>Assignee:</label>
            <div class="white break-words" id="Assignee">{{issue.Assignee.Username}}</div>
        </div>
        <div class="form-group">
            <label>Project:</label>
            <div class="white break-words" id="Project">{{issue.Project.Name}}</div>
        </div>
        <div class="form-group">
            <label>Issue Key:</label>
            <div class="white break-words" id="IssueKey">{{issue.IssueKey}}</div>
        </div>
        <div class="form-group">
            <label>Priority:</label>
            <div class="white break-words" id="Priority">{{issue.Priority.Name}}</div>
        </div>
        <div class="form-group">
            <label>Due Date:</label>
            <div class="white break-words" id="DueDate">{{issue.DueDate | date:'dd/MM/yyyy HH:mm'}}</div>
        </div>
        <div class="form-group">
            <label>Labels:</label>
            <div class="white break-words" id="Labels">{{issue.Labels | getName}}</div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <div class="white break-words" id="Description">{{issue.Description}}</div>
        </div>
        <a ng-if="isUserProjectLeader" class="btn btn-success" href="#/issues/{{issue.Id}}/edit">Edit</a>
    </section>
    <section class="col-md-4">
        <div class="form-group">
            <label>Current Status:</label>
            <div class="white break-words">{{issue.Status.Name}}</div>
            <div ng-if="isUserAssignee">
                <label>Change to status:</label>
                <ul>
                    <li ng-repeat="status in issue.AvailableStatuses">
                        <button class="btn btn-success" status-id="{{status.Id}}" ng-click="changeStatus($event)">{{status.Name}}</button>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</section>
<section class="col-md-8 clear-float">
    <header>
        <h3>Issue comments</h3>
    </header>
    <ul class="list-holder">
        <li ng-repeat="comment in comments">
            <section>
                <header class="blue">
                    <p>{{comment.Author.Username}} wrote on {{comment.CreatedOn | date: 'dd/MM/yyyy HH:mm'}}</p>
                </header>
                <p>{{comment.Text}}</p>
            </section>
        </li>
    </ul>
    <div class="bottom-margin">
        <a class="btn btn-info right-margin" ng-if="hasFirst" href="#/issues/{{issue.Id}}/comments/{{toFirst}}">&lt;&lt;</a>
        <a class="btn btn-info right-margin" ng-if="hasPrevious" href="#/issues/{{issue.Id}}/comments/{{previous}}">{{previous}}</a>
        <a class="btn btn-success right-margin" ng-if="hasCurrent" href="#/issues/{{issue.Id}}/comments/{{current}}">{{current}}</a>
        <a class="btn btn-info right-margin" ng-if="hasNext" href="#/issues/{{issue.Id}}/comments/{{next}}">{{next}}</a>
        <a class="btn btn-info right-margin" ng-if="hasLast" href="#/issues/{{issue.Id}}/comments/{{toLast}}">&gt;&gt;</a>
    </div>
    <div ng-if="isLoading">
        <p class="center-text">Loading issues comments...</p>
    </div>
    <div class="clear-float" ng-if="!hasComments && !isLoading">
        <p class="center-text">No comments.</p>
    </div>
</section>
<section class="clear-float" ng-if="isUserProjectLeader || hasIssueInThisProject">
    <header>
        <h3>Add new comment</h3>
    </header>
    <form class="col-md-8" name="commentForm">
        <div class="form-group">
            <label for="Text">Text:</label>
            <textarea id="Text" name="Text" class="form-control" ng-model="comment.Text" required="required"></textarea>
            <span class="error" ng-if="!commentForm.Text.$pristine && !commentForm.Text.$valid">Comment text is required.</span>
        </div>
        <input type="submit" ng-disabled="!commentForm.$valid" class="btn btn-success"
               ng-click="addComment()" value="{{buttonTitle}}" />
    </form>
</section>
