<section>
    <form name="projectForm" class="col-md-12">
        <fieldset>
            <h3>Create New Issue</h3>
        </fieldset>
        <div class="form-group">
            <label for="Title">Title:</label>
            <input type="text" class="form-control" name="Title" id="Title" placeholder="Issue Title" ng-model="issue.Title" required="required">
        </div>
        <div class="form-group">
            <label for="Assignee">Assignee:</label>
            <select class="form-control" name="Assignee" id="Assignee" ng-model="issue.Assignee" 
                    ng-options="user.Username for user in users track by user.Id " required="required">
            </select>
        </div>
        <div class="form-group">
            <label for="Project">Project:</label>
            <select class="form-control" name="Project" id="Project" ng-model="issue.Project" 
                    ng-options="project.Name for project in projects track by project.Id" required="required" ng-change="changeProject()">
            </select>
        </div>
        <div class="form-group">
            <label for="Priority">Priority:</label>
            <select class="form-control" name="Priority" id="Priority" ng-model="issue.Priority" 
                    ng-options="priority.Name for priority in priorities track by priority.Id" required="required">
            </select>
        </div>
        <div class="form-group">
            <label for="DueDate">Due Date:</label>
            <input type="text" class="form-control" name="DueDate" id="DueDate" placeholder="hh:mm dd/MM/yyyy" ng-model="issue.DueDate" required="required">
        </div>
        <div class="form-group">
            <label>Labels (comma separated):</label>
            <input type="hidden" name="Labels" id="Labels" placeholder="Labels" ng-model="issue.Labels">
            <div class="form-control">{{issue.Labels | getName}}</div>
        </div>
        <div class="form-group">
            <label for="Description">Description:</label>
            <textarea class="form-control" name="Description" id="Description" placeholder="Description" ng-model="issue.Description"></textarea>
        </div>
        <button type="submit" class="btn btn-success" ng-click="createIssue()">Add Issue</button>
    </form>
</section>