<section>
    <header>
        <h3>View Issue</h3>
    </header>
    <section>
        <div class="form-group">
            <label>Title:</label>
            <div class="form-control">{{issue.Title}}</div>
        </div>
        <div class="form-group">
            <label for="Assignee">Assignee:</label>
            <div class="form-control" id="Assignee">{{issue.Assignee.Username}}</div>
        </div>
        <div class="form-group">
            <label for="Project">Project:</label>
            <div class="form-control" id="Project">{{issue.Project.Name}}</div>
        </div>
        <div class="form-group">
            <label for="IssueKey">Issue Key:</label>
            <div class="form-control" id="IssueKey">{{issue.IssueKey}}</div>
        </div>
        <div class="form-group">
            <label for="Priority">Priority:</label>
            <div class="form-control" id="Priority">{{issue.Priority.Name}}</div>
        </div>
        <div class="form-group">
            <label for="DueDate">Due Date:</label>
            <div class="form-control" id="DueDate">{{issue.DueDate | date:'hh:mm dd/MM/yyyy'}}</div>
        </div>
        <div class="form-group">
            <label for="Labels">Labels:</label>
            <div class="form-control" id="Labels">{{issue.Labels | getName}}</div>
        </div>
        <div class="form-group">
            <label for="Description">Description:</label>
            <div class="form-control" id="Description">{{issue.Description}}</div>
        </div>
    </section>
    <a class="btn btn-success" href="#/issues/{{issue.Id}}/edit">Edit</a>
</section>