<section>
    <div id="new-project" class="hidden" ng-controller="NewProjectController" ng-include="'scripts/trackingManagerApp/templates/projects/addProject.html'"></div>
    <div id="new-issue" class="hidden" ng-controller="NewIssueController" ng-include="'scripts/trackingManagerApp/templates/issues/addIssue.html'"></div>
    <div>
        <header>
            <h3>Dashboard</h3>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Issue</th>
                    <th>Project</th>
                    <th>Due Date</th>
                    <th>Priority</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issue in issues">
                    <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td><a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></td>
                    <td>{{issue.DueDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{issue.Priority.Name}}</td>
                </tr>
            </tbody>
        </table>
        <div class="bottom-margin">
            <a class="btn btn-info right-margin" ng-if="hasFirst" href="#/dashboard/{{toFirst}}">&lt;&lt;</a>
            <a class="btn btn-info right-margin" ng-if="hasPrevious" href="#/dashboard/{{previous}}">{{previous}}</a>
            <a class="btn btn-success right-margin" ng-if="hasCurrent" href="#/dashboard/{{current}}">{{current}}</a>
            <a class="btn btn-info right-margin" ng-if="hasNext" href="#/dashboard/{{next}}">{{next}}</a>
            <a class="btn btn-info right-margin" ng-if="hasLast" href="#/dashboard/{{toLast}}">&gt;&gt;</a>
        </div>
        <div ng-if="isUserAdmin">
            <button class="btn btn-success" ng-click="newProject()">Add New Project</button>
            <button class="btn btn-success" ng-click="newIssue()">Add New Issue</button>
        </div>
    </div>
</section>