<section>
    <header>
        <h3>{{title}}</h3>
    </header>
    <div id="new-issue" class="hidden" ng-controller="NewIssueController" ng-include="'scripts/trackingManagerApp/templates/issues/addIssue.html'"></div>
    <a class="btn btn-default" href="#/projects/{{project.Id}}">Back to the Project</a>
    <section id="project-data">
        <header>
            <h3>Project</h3>
        </header>
        <div class="form-group">
            <label>Name:</label>
            <div class="form-control" id="Name">{{project.Name}}</div>
        </div>
        <div class="form-group">
            <label>Leader:</label>
            <div class="form-control" id="Leader">{{project.Lead.Username}}</div>
        </div>
        <div class="form-group">
            <label>Project Key:</label>
            <div class="form-control" id="ProjectKey">{{project.ProjectKey}}</div>
        </div>
        <div class="form-group">
            <label>Priorities (comma separated):</label>
            <div class="form-control" id="Priorities">{{project.Priorities}}</div>
        </div>
        <div class="form-group">
            <label>Labels (comma separated):</label>
            <div class="form-control" id="Labels">{{project.Labels}}</div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <div class="form-control" id="Description">{{project.Description}}</div>
        </div>
    </section>
</section>