<section>
    <section id="project-data">
        <header>
            <h3>{{title}}</h3>
        </header>
        <div class="form-group">
            <label>Name:</label>
            <div class="white break-words" id="Name">{{project.Name}}</div>
        </div>
        <div class="form-group">
            <label>Leader:</label>
            <div class="white break-words" id="Leader">{{project.Lead.Username}}</div>
        </div>
        <div class="form-group">
            <label>Project Key:</label>
            <div class="white break-words" id="ProjectKey">{{project.ProjectKey}}</div>
        </div>
        <div class="form-group">
            <label>Priorities (comma separated):</label>
            <div class="white break-words" id="Priorities">{{project.Priorities}}</div>
        </div>
        <div class="form-group">
            <label>Labels (comma separated):</label>
            <div class="white break-words" id="Labels">{{project.Labels}}</div>
        </div>
        <div class="form-group">
            <label>Description:</label>
            <div class="white break-words" id="Description">{{project.Description}}</div>
        </div>
        <div ng-if="isProjectLeader">
            <a class="btn btn-success" href="#/projects/{{project.Id}}/edit">Edit</a>
            <a class="btn btn-success" href="#/projects/{{project.Id}}/add-issue">Add New Issue</a>
        </div>
    </section>
    <div>
        <header>
            <h3>Project Issues</h3>
        </header>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Issue</th>
                    <th>Due Date</th>
                    <th>Assignee</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="issue in issues">
                    <td><a href="#/issues/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.DueDate | date: 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{issue.Assignee.Username}}</td>
                </tr>
            </tbody>
        </table>
        <div class="bottom-margin">
            <a class="btn btn-info right-margin" ng-if="hasFirst" href="#/projects/{{project.Id}}/issues/{{toFirst}}">&lt;&lt;</a>
            <a class="btn btn-info right-margin" ng-if="hasPrevious" href="#/projects/{{project.Id}}/issues/{{previous}}">{{previous}}</a>
            <a class="btn btn-success right-margin" ng-if="hasCurrent" href="#/projects/{{project.Id}}/issues/{{current}}">{{current}}</a>
            <a class="btn btn-info right-margin" ng-if="hasNext" href="#/projects/{{project.Id}}/issues/{{next}}">{{next}}</a>
            <a class="btn btn-info right-margin" ng-if="hasLast" href="#/projects/{{project.Id}}/issues/{{toLast}}">&gt;&gt;</a>
        </div>
    </div>
</section>