* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.centered {
    margin: 0 auto;
    width: 80%;
}

.top-distance {
    margin-top: 20px;
}

.error {
    color: #f00;
    font-size: 0.9em;
}

.right-margin {
    margin-right: 2px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.absolute-position {
    position: absolute;
}

.drop-down {
    z-index: 100;
    display: none;
    background-color: #fff;
    width: 100%;
    border: 1px solid #eee;
}

.relative-position {
    position: relative;
}

.drop-down-holder {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.drop-down-holder li:hover {
    background-color: #eee;
}

.drop-down-holder li {
    display: block;
}

.selected-label {
    background-color: #eee;
}