* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.centered {
    margin: 0 auto;
    width: 80%;
}

.top-distance {
    margin-top: 20px;
}

.error {
    color: #f00;
    font-size: 0.9em;
}

.right-margin {
    margin-right: 2px;
}

.bottom-margin {
    margin-bottom: 10px;
}

.absolute-position {
    position: absolute;
}

.drop-down {
    z-index: 100;
    display: none;
    background-color: #fff;
    width: 100%;
    border: 1px solid #eee;
}

.relative-position {
    position: relative;
}

.drop-down-holder {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.drop-down-holder li:hover {
    background-color: #eee;
}

.drop-down-holder li {
    display: block;
}

.selected-label {
    background-color: #eee;
}

.white {
    padding: 6px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    min-height: 35px;
}

.break-words {
    word-break: break-all;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

.clear-float{
    clear: both;
}

.list-holder {
    list-style-type: none;
}

.list-holder li {
    margin: 0 0 5px 0;
    padding: 0;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    overflow: hidden;
}

.list-holder li p{
    margin: 0 10px;
    padding: 0;
    font-size: 1em;
}

.blue {
    background-color: #09f;
    color: #fff;
}

.center-text{
    text-align: center;
}