* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #eee;
}

.centered {
    margin: 0 auto;
    width: 80%;
}

.top-distance {
    margin-top: 20px;
}

.error {
    color: #f00;
    font-size: 0.9em;
}

.right-margin {
    margin-right: 2px;
}

.bottom-margin {
    margin-bottom: 10px;
}