<section class="jumbotron">
    <header>
        <h3>Dashboard</h3>
    </header>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Issue</th>
                <th>Project</th>
                <th>Due Date</th>
                <th>View Issue</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="issue in issues">
                <td>{{issue.Title}}</td>
                <td>{{issue.IssueKey}}</td>
                <td>{{issue.DueDate | date: 'dd/MM/yyyy'}}</td>
                <td><a href="#/issues/{{issue.Id}}">View</a></td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-lg btn-success">Add New Project</button>
    <button class="btn btn-lg btn-success">Add New Issue</button>
</section>